{% extends 'base.html' %}
{% load static %}
{% block content%}
<section class="jumbotron text-center">
  <div class="container">
    <img src="{% static 'personal.jpeg' %}" alt="noimage" height="200" width="300">
  </div>
  <h3>Software Engineer by Profession and Cook by Hobby</h3>
  <h5 style="color:red">With Origins from Punjab, brought-up in Haryana and working in Delhi-NCR; have taste buds of various regions.</h5>
  Contact me over <a href="mailto:frienshiphamesha17@gmail.com">Email</a>
</section>

{% endblock %}
